https://www.kaggle.com/debanga/introduction-to-pycaret

pycaret boston

In [1]:
import pycaret

In [2]:
dir(pycaret)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'utils']

In [3]:
pycaret.__version__

'2.3.5'

# from pycaret import regression as reg
# dir(reg)

book
https://www.kaggle.com/debanga/introduction-to-pycaret
from pycaret.regression import *
Code
pycaret boston

In [7]:
import pycaret
pycaret
# dir(pycaret)
# ['__builtins__',
#  '__cached__',
#  '__doc__',
#  '__file__',
#  '__loader__',
#  '__name__',
#  '__package__',
#  '__path__',
#  '__spec__',
#  '__version__']

from pycaret.regression import *

In [8]:
pycaret.__version__

'2.3.5'

In [9]:
# Loading data from pycaret
from pycaret.datasets import get_data
boston = get_data('boston')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [10]:
boston.tax.value_counts()

666    132
307     40
403     30
437     15
304     14
264     12
398     12
384     11
277     11
224     10
330     10
432      9
233      9
276      9
296      8
193      8
287      8
391      8
300      7
284      7
270      7
188      7
311      7
222      7
329      6
254      5
289      5
711      5
223      5
273      5
216      5
243      4
247      4
281      4
305      4
279      4
293      3
430      3
345      3
358      3
245      3
370      2
335      2
411      2
265      2
348      2
334      2
252      2
337      2
315      2
242      2
402      2
352      2
187      1
351      1
280      1
255      1
422      1
469      1
226      1
241      1
285      1
198      1
256      1
244      1
313      1
Name: tax, dtype: int64

In [11]:
boston.chas.value_counts()

0    471
1     35
Name: chas, dtype: int64

In [12]:
boston.rad.value_counts()

24    132
5     115
4     110
3      38
6      26
2      24
8      24
1      20
7      17
Name: rad, dtype: int64

In [13]:
type(boston)

pandas.core.frame.DataFrame

In [14]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [15]:
boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [16]:
reg1 = setup(data = boston, 
             numeric_features =  ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
               'ptratio', 'black', 'lstat'],  
             categorical_features = ['chas'],
             target = 'medv',
            )

In [17]:
# comparing all models
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=7393, verbose=0, warm_start=False)

In [19]:
# creating xgboost model
# xgboost = create_model('xgboost')

In [20]:
rf = create_model('rf')

In [21]:
# tuning Random Forest model
# tuned_rf = tune_model(rf, n_iter = 50, optimize = 'mae')
tuned_rf = tune_model(estimator=rf)